<footer>
    <p><span class="yellow_words">Наш адрес:</span> Россия, 129226 Москва, ул. Вильгельма Пика, д.3</p>
    <p><span class="yellow_words">Телефон:</span> +7 (499) 181-13-14
    <span class="yellow_words">Факс:</span> +7 (499) 181-80-74</p>
    <p><span class="yellow_words">E-mail:</span> mail@vgik.info</p>
    <p><span class="yellow_words">График работы:</span> Понедельник-пятница с 9:15 до 17:45</p>
    <p><span class="yellow_words">Выходные:</span> Суббота, воскресенье</p>
    <p><a href=""><span class="yellow_words">Пресс-служба</span></a></p>
    <br><img src="/footer_logo.png" width="47px" height="46px">
    <br>© 2009-2021 ВГИК. Все права защищены
    <br><a href="">Минкультуры России и Инфопроекты</a>
</footer>