<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo"><img src="/vgik_logo.png" width="47px" height="70px"></a>
    <a href="/about">о ВГИКе</a>
    <a href="/learning">Обучение</a>
    <a href="/news">Новости</a>
    <a href="/eios">ЭИОС</a>
    <a href="/contacts">Контакты</a>
  </div>
</nav>