<h2>ВГИК</h2>

<p class="indexLinks">
    <a href="">Поступить во ВГИК</a>
    <a href="">Абитуриентам</a>
    <a href="">Высшее образование</a>
    <a href="">Среднее профессиональное образование</a>
</p>

<P>ОБРАЗОВАНИЕ</P>
<P>ПО ВСЕМ</P>
<P>НАПРАВЛЕНИЯМ</P>

<img src="/indexCircles.png">
<img src="/indexRetroPhoto.png">
<img src="/indexLines.png">

<p class="indexTrumbLine1">
   <a href=""><img src="/index_trumb_1.png" width="450" height="489"></a>
   <a href=""><img src="/index_trumb_2.png" width="450" height="489"></a>
   <a href=""><img src="/index_trumb_3.png" width="450" height="489"></a>
</p>
<p class="indexTrumbLine2">
   <a href=""><img src="/index_trumb_4.png" width="450" height="489"></a>
   <a href=""><img src="/index_trumb_5.png" width="450" height="489"></a>
   <a href=""><img src="/index_trumb_6.png" width="450" height="489"></a>
</p>